.banner-section{
    background-image:linear-gradient(to bottom, rgba(26, 23, 13, 0.219), rgba(0, 0, 0, 0.584)) ,  url('../../../assets/cloths-arrangement-with-natural-pigments-with-copy-space.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* min-width: 100vh; */
    /* height: 100vh; */

    height: 600px;

}